{% extends 'base.html.twig' %}

{# Paramètres #}
{% set back = 'app_front_index' %}

{% block title %}Valorisation{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    {% include('atomic/breadcrump.html.twig') %}

    <div class="slow-background">
        <div class="container">
            <div class="col-start-1 col-end-13  margin-bottom-xxxl">

                <h1>Valorisation</h1>

                <div class="text textalign-center">
                    Sur les 7 derniers jours
                    <hr>
                    <div class="fullwidth margin-top-xl margin-bottom-xl">
                        {{ render_chart(chart) }}
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app')}}  {# Très important pour utiliser la librairie JS de symfony UX #}
    {% endblock %}

{% endblock %}
