{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="slow-background">
    <div class="container">

        <div class="col-start-1 col-end-13 margin-bottom-xxxl">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="margin-top-xxl margin-bottom-xxxl">
                <div class="text textalign-center margin-bottom-s">Vous êtes connectés en tant que {{ app.user.username }} !</div>
                <a href="/logout">
                    <button class="cancel_button flex justifycontent-center alignitems-center">
                        <svg class="icon-m margin-right-s icon-coloration-error"><use xlink:href="/images/icons.svg#logout"></use></svg>
                        Se déconnecter
                    </button>
                </a>
            </div>
            <hr>
        {% endif %}

    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <input class="form_button" type="submit" value="Connexion">
    </form>

        </div>
    </div>
</div>
{% endblock %}
