<div class="arianne">
    <div class="container">
        <div class="col-start-1 col-end-13">
            {% if backoptions is defined and backoptions is not null %}
                <a href="{{ path(back , {id: backoptions}) }}">
            {% else %}
                 <a href="{{ path(back) }}">
            {% endif %}
                <button class="icon_button">
                    <div class="flex alignitems-center">
                        <svg class="icon-m"><use xlink:href="/images/icons.svg#chevron-left"></use></svg> <div class="backlink margin-left-xs">Retour</div>
                    </div>
                </button>
            </a>
        </div>
    </div>
</div>

