    <div class="col-1 margin-top-l">

        <div class="fullwidth">

            {# Titre crypto #}
            <div class="flex space-between alignitems-center">
                <div>
                    <span class="crypto-sigle">BTC</span> (Bitcoin)
                </div>

                <div class="home_btn_desktop">
                    <div class="flex">
                        {% include('atomic/buttons/delete.html.twig') %}
                        <div class="margin-left-xs"></div>
                        {% include('atomic/buttons/modify.html.twig') %}
                    </div>
                </div>

            </div>

            {# texte informatif #}
            <div class="secondary_information">
                360 BTC<br>
                prix original : 1455 €<br>
                Valeur aujourd'hui : 5000€<br>
            </div>

        </div>
    </div>
