<footer class="footer">
    <div class="container">
        <div class="col-start-1 col-end-13 flex flex-wrap-wrap">
            <div class="col-1 col-m-3">
                Pourquoi utiliser TASKSS ?
            </div>
            <div class="col-1 col-m-3">
                Nos tutos<br>
                Comment créer une liste ?<br>
                Comment créer une tâche ?<br>
                Gérer des listes<br>
            </div>
            <div class="col-1 col-m-3">
                Contactez le support technique
            </div>
        </div>
    </div>
</footer>