<header>
    <div class="container">
        <div class="col-start-1 col-end-13 flex space-between alignitems-center">
            <img src="{{ asset('images/logo.png')}}" class="logo">
            <div class="flex">
                <button class="icon_button">
                    <svg class="icon-m"><use xlink:href="/images/icons.svg#wallet"></use></svg>
                </button>
                <button class="icon_button">
                    <svg class="icon-m"><use xlink:href="/images/icons.svg#login"></use></svg>
                </button>
            </div>
        </div>
    </div>
</header>