<div class="modal_content" id="modale">

    <div class="modal_box">
        Voulez-vous supprimer cet élement ?
        <div class="flex justifycontent-center margin-t15">

            <button id="btncancel" class="basic_button">
                &#10094; Retour
            </button>

            <form method="post" action="/{{ itemname }}/remove">
                <input id="iditem" name="iditem" type="hidden" value="{{ itemid }}">
                <button id="btnremove-action" class="remove_button margin-l15">
                    <b>Supprimer</b>
                </button>
            </form>

        </div>
    </div>

</div>