$primary: #1c2a2d;
$secondary : #5fdcc3;
$secondaryVif: #07c18c;
$complementaire: #f5980c;
$complementaireVif: #ea5e00;
$darkgrey: #9ebcbf;
$light-grey: #eeeeee;
$errors : #e58989;
$validation : #aae5b0;
$validationVif : #069213;
$validationCharte: #49f78d;