$primary: #1c2a2d;
$secondary : #5fdcc3;
$secondaryVif: #07c18c;
$complementaire: #f56a0c;
$complementaireVif: #de3706;
$darkgrey: #bfd7db;
$light-grey: #eeeeee;
$errors : #e58989;
$validation : #aae5b0;
$validationVif : #069213;
$validationCharte: #1fc36c;