// FONT EXTENDS PARAMETRES

%fontbase {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

%breadcrumb-size {
    font-size: 0.8em;
}

// STYLES

h1 {
    font-size: 2em;
    @extend %fontbase;
}

h2 {
    font-size: 1.4em;
    @extend %fontbase;
}


h3 {
    font-size: 1.3em;
    @extend %fontbase;
}

h4 {
    font-size: 1.2em;
    @extend %fontbase;
}

p {
    font-size: 1em;
    @extend %fontbase;
}

a {
    color: white;
    text-decoration: none;
    @extend %fontbase;
}

a:hover {
    color : white;
}

.a-footer {
    color: $darkgrey;
    text-decoration: none;
    @extend %fontbase;
}

.a-footer:hover {
    color : lighten($darkgrey, 15%);
    text-decoration: underline;
}

.backlink {
    font-size: 1.1em;
}

.text {
    @extend %fontbase;
}

// LISTES

ul.none{
    list-style: none;
    margin-left: 10px;
    padding-left: 0;
}

.li-display-inline {
    display: inline;
    padding-left: 10px;
}

// Style propre au sites

.secondary_information {
    @extend %fontbase;
    color: $darkgrey;
}

.info_solde {
    font-size: 1.3em;
}

.solde-positif, .solde-negatif, .solde, .solde-positif-light {
    @extend %fontbase;
    font-size: 2em;
    font-weight: bold;
}

.solde-positif, .valo-positif{
    color: $validationCharte;
}

.solde-positif-light{
    color: $validation;
}


.solde-negatif, .valo-negatif {
    color: $errors;
}

.solde {
    color: white;
}


.test[solde-positif*="."] {
    color:red;
}




.info_solde {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.solde-legend {
    color: $darkgrey;
}

.crypto-sigle {
    @extend  %fontbase;
    font-weight: bold;
    font-size: 1.4em;
 }

.valo {
    font-size: 2.3em;
    font-weight: bolder;
}
.valo{
    font-size: 2.3em;
    font-weight: bolder;
}

.nocesure {
    hyphens: none;
}