// ICONS
.icon-s {
    width: 20px;
    height: 20px;
}

.icon-m {
    width: 30px; 
    height: 30px;
}

.icon-l{
    width: 40px; 
    height: 40px;
}

.icon-coloration {
    fill : white;
}

.icon-coloration-valid {
    fill: $validationCharte;
}

.icon-coloration-error {
    fill: $errors;
}

// Logo
.logo {
    max-width: 150px;
}

// BUTTONS
.basic_button, .form_button, .remove_button, .cancel_button {
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border:none;
    max-height: 50px;
    display: flex;
    cursor: pointer;
    background: $complementaire;
    color: white;
    fill: white;
    @extend %fontbase;
    font-size: 1.1em;
    @media screen and (max-width: $m) {
        width: 100%;
        display: block;
        text-align: center;
        max-height: 50px;
        font-size: 1.1em;
    }
}

.action_button {
    @extend %fontbase;
    background: white;
    color: $complementaire;
    fill: $complementaire;
    padding: $padding_margin-s;
    min-height: 50px;
    border:none;
    width: auto;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    @media screen and (max-width: $m) {
        width: 100%;
    }
}

.action_button:hover{
    fill: $complementaireVif;
    color: $complementaireVif;
    box-shadow: 5px 5px 5px black;
}

.form_button {
    width: 100%;
}

.basic_button:hover, .form_button:hover {
    background: $complementaireVif;
}

.logout_button:hover {
    fill: $light-grey;
    color: $light-grey;
}
.logout_button:hover {
    fill: white;
    color: white;
}

.icon_button {
    border: none;
    background: none;
    fill: $secondary;
    color: $secondary;
    cursor: pointer;
}

.icon_button:hover {
    fill: $complementaire;
    color: $complementaire;
}

.icon_button-add {
    border: none;
    background: none;
    fill: $complementaire;
    color: $complementaire;
}

.icon_button-add:hover {
    fill: $complementaireVif;
    color: $complementaireVif;
    cursor: pointer;
}

.cancel_button{
    background: #e8dede;
    color: $primary;
}

.cancel_button:hover{
    color: black;
    background: #cbc6c6;
}


//PAGINATION
.paginations{
    margin-bottom: $padding_margin-xl;
}

.pagination{
    color: white;
    background: $primary;
    padding:5px 10px 5px 10px;
    margin-right: $padding_margin-xs;
}

//HR
hr {
    border: 1px solid lighten($primary, 10%);
    border-radius: 5px;
}

.hr_light {
    border: 1px solid lighten($darkgrey, 20%);
    border-radius: 1px;
}