{% extends 'base.html.twig' %}

{% block title %}Cryptool{% endblock %}

{# Paramètre #}
{% set titlebouton = 'Ajouter une transaction' %}
{% set icone = 'add' %}

    {# Titre H1 #}
    {% if transactions|length > 0 %}
        {% if transactions|length > 1 %}
            {% set texteh1 %}
                {{ transactions|length }} transactions
            {% endset %}
        {% else %}
            {% set texteh1 %}
                {{ transactions|length }} transaction
            {% endset %}
        {% endif %}
    {% else %}
        {% set texteh1 = 'Aucune transaction pour le moment !'  %}
    {% endif %}


{% block body %}

    <div class="slow-background">
        <div class="container">

            <div class="col-start-1 col-end-13">
                <h1>Bonjour Marc !</h1>
            </div>

            {# Badge solde et titre#}
                {% include('atomic/badge-solde.html.twig') %}

            <div class="col-start-1 col-end-13 margin-bottom-xxxl">

                {# Ajouter une transaction : affichage différent selon device #}
                <div class="title_bouton_section">
                    <div class="home_btn_desktop">
                        <div class="flex space-between alignitems-center">
                            <h2>{{ texteh1 }}</h2>
                        </div>
                    </div>

                    {% if soldeCurrent == '0' %}
                        <div class="home_btn_mobile margin-top-m">Aucune transaction pour le moment !</div>
                    {% endif %}

                    <a href="{{ path('app_transaction_add') }}">
                        <div class="margin-bottom-l margin-top-l">
                            {% include('atomic/buttons/action.html.twig') %}
                        </div>
                    </a>
                </div>

                {# read and display just one flash message type #}
                {% include('atomic/message_validation.html.twig') %}


                {# transaction card #}
                {%  for transaction in transactions %}
                    <hr class="margin-top-l">
                    {%  include('atomic/crypto-card.html.twig') %}

                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}