{% extends 'base.html.twig' %}

{% block title %}Mes portefeuilles{% endblock %}

{% block body %}

    {% include('atomic/breadcrump.html.twig') %}

    <div class="slow-background">
        <div class="container">
            <div class="col-start-1 col-end-13">

                <h1>Mes portefeuilles</h1>

                {# read and display just one flash message type #}
                {% for message in app.flashes('validation') %}
                    <div class="flash-validation">
                        {{ message }}
                    </div>
                {% endfor %}

                <a href="{{ path('app_wallet_add') }}">
                    <div class="">
                        {% include('atomic/buttons/add.html.twig') %}
                    </div>
                </a>

                {# Listing de wallet #}
                {% if wallets|length > 0 %}
                    {% for wallet in wallets %}
                        {% include('atomic/wallet-card.html.twig') %}
                    {% endfor %}

                    {% else %}
                    Il n'y a aucune portefeuille pour l'instant !
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}