<button class="action_button">
    <div class="flex space-between alignitems-center">
        <div class="flex alignitems-center">
            <svg class="icon-m margin-right-m"><use xlink:href="/images/icons.svg#{{ icone }}"></use></svg>
            {{ titlebouton }}
        </div>
        <svg class="icon-m home_btn_mobile"><use xlink:href="/images/icons.svg#chevron-right"></use></svg>
    </div>
</button>