{% extends 'base.html.twig' %}

{% block title %}Ajouter une transaction{% endblock %}

{% block body %}

    {% include('atomic/breadcrump.html.twig') %}

    <div class="slow-background">
        <div class="container">

            <div class="col-start-1 col-end-13">

                <h1>Ajouter une transaction</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="form_button" value="Ajouter">
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}




