{% extends 'base.html.twig' %}

{% block title %}
    {% if type is defined %}
        Modifier ma transaction
    {% else %}
        Ajouter une transaction
    {% endif %}
{% endblock %}

{% block body %}

    {% include('atomic/breadcrump.html.twig') %}

    <div class="slow-background">
        <div class="container">

            <div class="col-start-1 col-end-13">

                {% if type is defined %}
                    <h1>Modifier ma transaction</h1>
                {% else %}
                    <h1>Ajouter une transaction</h1>
                {% endif %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="form_button" value="Ajouter">
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}




