{% extends 'base.html.twig' %}

{% block title %}Transaction {{ transaction.originalprice }}{% endblock %}

{% block body %}

    {% include('atomic/breadcrump.html.twig') %}

    <div class="slow-background">
        <div class="container">

            <div class="col-start-1 col-end-13">

                {# read and display just one flash message type #}
                {% include('atomic/message_validation.html.twig') %}

                {# Cartouche d'information #}
                {% include('atomic/crypto-info.html.twig') %}

                {# Boutons actions smartphone #}
                <div class="home_btn_mobile">
                    <a href="{{ path('app_transaction_edit', {id: transaction.uuid}) }}">
                        {% include('atomic/buttons/modify.html.twig') %}
                    </a>
                    {% include('atomic/buttons/delete.html.twig') %}
                </div>
            </div>

        </div>
    </div>

    {# fenêtre modale pour validation de la suppression #}
    {% include('atomic/modale.html.twig') %}

    <script src="/script.js"></script>
    <noscript><p>Merci d'activer Javasript !</p></noscript>

{% endblock %}